
.Header-logo img {
  animation: Header-logo-spin infinite 20s linear;
  height: 25vmin;
}
.Header-logo h2 {
  text-align: center;
}
.Header {
  background-color: #282c34;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.menu li {
  display: inline-block; padding-right: 15px;
}

.App-link {
  color: #61dafb;
}

@keyframes Header-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
